*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------------------First page-----------------------------------------------------*/

#container1{
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;

}

.backvideo{
    position:absolute;
    right:0;
    height: 180%;
    padding-bottom: 20%;
    z-index: -1;
}

.wel{
    padding-top: 15%;
    text-align: center;
    font-weight:600;
    font-size: 50px;
    
    color:whitesmoke; 
    transition: 0.5s;
}

.ani h1:hover{
    -webkit-text-stroke: 3px plum;
    color:rgb(185, 12, 154);
    
}


  
.logo{
    width: 300px;
    height: 400px;
    padding-left: 0%;
    padding-top: 2%;
}

nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: rgba(165, 42, 42, 0.765);
   height: 70px;
   
   

}
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
 nav ul li a{
    color:aliceblue;
    font-size: 18px;
    text-decoration: none;
    position: relative;
 }
 nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(228, 218, 228);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }

 


.slg2{
   
    padding-top: 15%;
    align-items: center;
    text-align: center;
    color: aliceblue;
   
}



/*----------------------------------------------------Second page-----------------------------------------------------*/

#container2 {
    width: 100vw;
    height: 100vh;
    background-image:url("Page 2,5 images/library\ book\ shell.jpg");    
}

#page2d1 {
    width:100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

#page2d2 {
    width:100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box{
    width: 600px;
    margin: 50px auto 0;
    background: wheat;
    border-radius: 20px;


}

.row{
    display:flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex:1;
    height: 20px;
    background: transparent;
    border:0;
    outline:0;
    font-size:18px;
    color:rgb(12, 12, 12);
}

.btn{
    background: transparent;
    border:0;
    outline:0;
}

.btn .fa-solid{
    width:25px;
    color:#555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder{
    color: #6b6565;
}

/*----------------------------------------------------Third page-----------------------------------------------------*/

#container3{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/bookreadingboy.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color: aliceblue;
    padding-left: 2%;
    text-shadow: 4px;
    
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0,0.26),
    0 10px 10px rgba(0, 0, 0,0.22);
    transition: .4s;
    background: rgba(255, 228, 196, 0.562)
}
.content :hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0, 0, 0,0.22);
    transform: translate(0px,-8px);
}
img{
    width: 250px;
    height: 400px;
    align-items: center;
    margin: 0 auto;
    display: block;
    border-top: 20px;
}
button{
    text-align: center;
    font-size:25px;
    color: white;
    width: 100%;
    border:0;
    cursor: pointer;
    outline: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}
.b1{
    background: green;
}
.b2{
    background: green;
}
.b3{
    background: green;
}
.b4{
    background:red;
}

/*----------------------------------------------------Fourth page-----------------------------------------------------*/

#container4{
    
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/bookreadingboy.avif);
        background-repeat: no-repeat;
        background-size: cover;
}
.cato{
    width: 100vw;
    height: 100vh;
    padding-bottom: 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,2fr));
    grid-gap: 15px;
    margin-top: 10px;
}
.content2{
    width: 200px;
    margin: 15px;
    height: 30%;
    box-sizing:content-box;
    float: left;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0,0.26),
    0 10px 10px rgba(0, 0, 0,0.22);
    transition: .4s;
    background: rgba(255, 228, 196, 0.637);
    
    
}
.content2 :hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0, 0, 0,0.22);
    transform: translate(0px,-8px);
}
.topic{
    text-align: center;
    color: aliceblue;
    padding-left: 10px;
}
img{
    width: 200px;
    height: 180px;
    align-items: center;
    margin: 0 auto;
    display: block;
    border-top: 20px;
}
.z4{
    background: purple;
}
h4{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*----------------------------------------------------Fifth page-----------------------------------------------------*/

#container5 {
    width: 100vw;
    height: 100vh;
    background-image: url("Page 2,5 images/c5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-over{
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.contact h2{
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Prompt", sans-serif;
    color: rgb(190, 140, 32);

}

.contact form{
    width: 650px;
    height: 500px;
    text-align: center;
}

form .input-box{
    display: flex;
    justify-content: space-between;
}

.field .item{
    width:100%;
    padding: 18px;
    background: transparent;
    border:2px solid wheat;
    outline:none;
    border-radius: 6px;
    font-size: 16px;
    color: black;
    margin: 12px 0;   
}

.field.error .item{
    border-color: #d93025;
}

.filed .item::placeholder {
    color: rgba(255, 255, 255,0.3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
} 

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

form button {
    padding: 12px 32px;
    background: wheat;
    border: none;
    outline: #6b6565;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(255, 187, 0);
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover {
    box-shadow: inset 0px 0px;
}

.row1 {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col .counter-box {
    flex-basis: 22%;
    text-align: center;
    color: #555;
}

.col .counter-box .p5{
    flex-basis: 22%;
    text-align: center;
    color: #555;
}
.sub1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.counter-box {
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px -4px #66676c;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.counter-box .fa {
    font-size: 20px;
    color: #009688;
    display: block;
}
